altair==6.1.0
attrs==26.1.0
chess==1.11.2
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
narwhals==2.20.0
numpy==2.4.4
packaging==26.2
pandas==3.0.2
python-chess==1.999
python-dateutil==2.9.0.post0
referencing==0.37.0
rpds-py==0.30.0
ruff==0.15.11
six==1.17.0
ty==0.0.32
typing_extensions==4.15.0
vl-convert-python==1.9.0.post1
